@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
--color-primario:#7ACC2D;
--color-fondo:#ffffff;
--color-secundario:#f5f5f5;
--color-texto:#313337;
--fuente-principal:'Open Sans', sans-serif;
--sombra-suave: 0px 0px 23px 0px rgba(0,0,0,0.5);
--radio-card: 2px 2px 0px 0px;
--col-12: 100%;
--col-6: 50%;
--col-4: 33.333%;
--col-3: 25%;
}

.col-12 {
    width: 100%;
}

.container {
    width: 100%;
    /* max-width: 1200px; */
    font-family: var(--fuente-principal)
}

#encabezado {
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#menu_encabezado {
    display: flex;
    list-style: none;
    gap: 12px;
}

#menu_encabezado li a{
    color: var(--color-texto);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
}

#menu_encabezado li a:hover{
    color: #f5f5f5;
    transform: translateY(-2px);
}

#main{
    width: 100%;
}

#intro {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#productos {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px 15px 60px;
    background-image: url("../images/curve.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

#productos .col-12{
    background-color: var(--color-fondo);
    border-radius: 4px;
    transform: translateY(-70px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productos article h2{
    width: 100%;
    margin-bottom: 20px;
}

#productos article p{
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
}

.boton_productos{
    width: 100%;
    background-color: var(--color-primario);
    padding: 10px 0;
    border: none;
    color: var(--color-fondo);
    font-size: 16px;
    border-radius: var(--radio-card);
    cursor: pointer;
    transition: backgraund-color 1s ease-in, box-shadow 0.3s ease, transform 0.3s ease;
}

.boton_productos:hover{
    background-color: #75c42bee;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(1px) scale(0.98);
}

.container{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    gap: 20px;
}

#caracteristicas article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 15px;
}

.img_beneficios{
    width: 150px;
    height: 140px;
    object-fit: contain;
}

#caracteristicas h2{
    padding: 10px 0;
}

#caracteristicas p{
    text-align: left;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-fondo);
    border-radius: var(--radio-card);
    box-shadow: var(--sombra-suave);
    overflow: hidden;
    margin: 0 0 25px 0;
    width: 100%;
    transition: transform 0.3s ease, box-shadown 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.55);
}

.card img{
    width: 100%;
    margin-bottom: 20px;
}

.card h3{
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card p{
    font-size: 14px;
    width: 100%;
    margin-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.tit_com{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

#comentarios{
    padding-bottom: 100px;
}

#pie_pagina{
    background-color: var(--color-texto);
    color: var(--color-secundario);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

#pie_pagina p{
    cursor: pointer;
    transition: transform 0.3s ease;
}

#pie_pagina p:hover{
    transform: translateY(-2px) scale(0.98);
}

hr{
    border: 0.5px solid rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
    #intro {
    padding: 200px 100px;
}

    #productos{
        padding: 120px 100px 80px;
    }

    #productos .col-md-6{
        width: calc(var(--col-6) - 20px);
        max-width: 600px;
        transform: translateY(-90px);
    }
    

    #caracteristicas{
        padding: 50px 100px;
    }

    #caracteristicas .col-md-4{
        width: calc(var(--col-4) - 20px);
        padding: 50px 0 50px 0;
    }

    #caracteristicas .row{
        justify-content: center;
    }

    #comentarios .row{
        justify-content: space-between;
    }

    #comentarios{
        padding: 50px 100px;
    }

    .card{
        margin-bottom: 0;
    }

    .col-md-3{
        width: calc(var(--col-3) - 15px);
    }
    
}



