@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');


:root{
    --color-principal-negro: #18181b;
    --color-principal-naranja: #ff3b00;
    --color-principal-magenta: #ff9500;
    --color-principal-amarillo: #f2ff00;
    --font-titulos: 'Comfortaa', sans-serif;
    --font-parrafos: 'Montserrat', sans-serif;
}